/* You can add global styles to this file, and also import other style files */
@import "~nouislider/distribute/nouislider.min.css";

.noUi-connect {
    background: #007bff;
}

.loading-container {
    margin-top: 7em;
    text-align: center;

    .loading {
        font-size: 4rem;
        color: #B3B3B3;
    }
}