<div class="container">  
  <div class="header"><h2>Talent search request</h2></div>
  
  <form (ngSubmit)="requestVacancy()" #vacancyFormDir="ngForm" >
    <div class="form-group">
      <label for="position">Who are you looking for?</label>
      <input type="text" id="position" class="form-control" placeholder="Position" [(ngModel)]="model.position" name="position" required #position="ngModel">
      <div class="error text-danger" [hidden]="position.valid || position.untouched || (position.pristine && vacancyFormDir.submitted)">
        <p>Position is required</p>
      </div>
    </div>
    <div class="form-group">
      <label for="specs">How could they help you?</label>
      <textarea id="specs" class="form-control" row="3" placeholder="Jobs requirement and responsibilities" [(ngModel)]="model.specs" name="specs" required #spec="ngModel"></textarea>
      <div class="error text-danger" [hidden]="spec.valid || spec.untouched || (spec.pristine && vacancyFormDir.submitted)">
        <p>Jobs requirement and responsibilities information is required</p>
      </div>
    </div>
    <div class="form-group">
      <label for="location">Where do you need them?</label>
      <input type="text" id="location" class="form-control" placeholder="Location" [(ngModel)]="model.location" name="location" required #location="ngModel"/>
      <div class="error text-danger" [hidden]="location.valid || location.untouched || (location.pristine && vacancyFormDir.submitted)">
        <p>Location is required</p>
      </div>
    </div>
    <div class="form-group">
      <label for="salary">How much you willing to pay?</label>
      <div class="form-inline" >
          <input type="number" class="form-control" id="salary_min" placeholder="Salary minimum" [(ngModel)]="model.salary_min" [valueSmallerThan]="salaryMax" name="salary_min" #salaryMin="ngModel" required #spyMin />
          <span class="salary_indicator">-</span>
          <input type="number" class="form-control" id="salary_max" placeholder="Salary maximum" [(ngModel)]="model.salary_max" [valueLargerThan]="salaryMin" name="salary_max" #salaryMax="ngModel" required #spy/>
      </div>
      <div class="error text-danger" [hidden]="(salaryMin.valid && salaryMax.valid) || (salaryMin.untouched && salaryMax.untouched) || vacancyFormDir.submitted">
        <p>Invalid salary range</p>
      </div>
    </div>
    <div>Who to contact when talents found?</div>
    <div class="form-group">
      <label for="contact-name">Contact name</label>
      <input type="text" class="form-control" id="contact-name" [(ngModel)]="model.ctc_name" name="contact-name" required #contactName="ngModel">
      <div class="error text-danger" [hidden]="contactName.valid || contactName.untouched || (contactName.pristine && vacancyFormDir.submitted)">
          <p>Contact person name is required</p>
        </div>
    </div>
    <div class="form-group">
      <label for="contact-phone">Phone number</label>
      <input type="text" class="form-control" id="contact-phone" [(ngModel)]="model.ctc_phone" name="contact-phone" required #contactPhone="ngModel">
      <div class="error text-danger" [hidden]="contactPhone.valid || contactPhone.untouched || (contactPhone.pristine && vacancyFormDir.submitted)">
        <p>Contact phone number is required</p>
      </div>
    </div>
    <div class="form-group">
      <label for="contact-email">Email</label>
      <input type="email" class="form-control" id="contact-email" [(ngModel)]="model.ctc_email" name="contact-email" required [email]="true" #contactEmail="ngModel">
      <div class="error text-danger" [hidden]="contactEmail.valid || contactEmail.untouched || (contactEmail.pristine && vacancyFormDir.submitted)">
        <p>Email is required and format should be <strong>username@email.com</strong></p>
      </div>
    </div>
    <button type="submit" class="btn submit-btn" [ngClass]="{'btn-success': vacancyFormDir.valid && !vacancyFormDir.submitted}" [disabled]="!vacancyFormDir.valid && vacancyFormDir.submitted">Submit</button>
  </form>

  <ng-template #successModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Your request has being submitted</h4>
    </div>
    <div class="modal-body">
      <p>We will have a recruitment consultant contact you once we found the right people for your business. In meanwhile, our intelligent system will introduce some of the personel that match your vacancy requirement at the Vacancy dashboard.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="c()">OK</button>
    </div>
  </ng-template>

  <ng-template #errorModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Your request failed to send</h4>
    </div>
    <div class="modal-body">
      <p>{{errorMessage}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="c()">OK</button>
    </div>
  </ng-template>

  <!-- for testing only -->
<!--   
  <button (click)="openSuccessModal()">Test success</button>
  <button (click)="openErrorModal()">Test fail</button>
  -->
</div>