<div class="container">  
  <div class="header"><h2>Talent search request</h2></div>
  
  <form (ngSubmit)="requestVacancy()" #vacancyFormDir="ngForm" >
    <div class="form-group">
      <label for="position">Position</label>
      <input type="text" id="position" class="form-control" placeholder="eg. Frontend Developer" [(ngModel)]="model.position" name="position" required #position="ngModel">
      <div class="error text-danger" [hidden]="position.valid || position.untouched || (position.pristine && vacancyFormDir.submitted)">
        Position is required
      </div>
    </div>
    <div class="form-group">
      <label for="specs">Required skills</label>
      <tag-input id="specs" class="form-control" [theme]="'my-theme'" secondaryPlaceholder="Enter a skill" placeholder="Enter more skill" [(ngModel)]="model.specs" modelAsStrings="true" name="specs" required #spec="ngModel">
        <tag-input-dropdown [autocompleteItems]="skills">
        </tag-input-dropdown>
      </tag-input>
      <div class="error text-danger" [hidden]="spec.valid || spec.untouched || (spec.pristine && vacancyFormDir.submitted)">
        Skills is required
      </div>
    </div>
    <div class="form-group">
      <label for="location">Job location</label>
      <input type="text" id="location" class="form-control" placeholder="Location" [(ngModel)]="model.location" name="location" required #location="ngModel"/>
      <div class="error text-danger" [hidden]="location.valid || location.untouched || (location.pristine && vacancyFormDir.submitted)">
        Job location is required
      </div>
    </div>
    <div class="form-group">
      <label for="salary">Salary</label>
      <div class="form-inline" >
          <input type="number" class="form-control" id="salary_min" placeholder="Salary minimum" [(ngModel)]="model.salary_min" [valueSmallerThan]="salaryMax" name="salary_min" #salaryMin="ngModel" required #spyMin />
          <span class="salary_indicator">-</span>
          <input type="number" class="form-control" id="salary_max" placeholder="Salary maximum" [(ngModel)]="model.salary_max" [valueLargerThan]="salaryMin" name="salary_max" #salaryMax="ngModel" required #spy/>
      </div>
      <div class="error text-danger" [hidden]="(salaryMin.valid && salaryMax.valid) || (salaryMin.untouched && salaryMax.untouched) || vacancyFormDir.submitted">
        Invalid salary range
      </div>
    </div>
    <div class="form-group">
      <label for="contact-name">Contact name</label>
      <input type="text" class="form-control" id="contact-name" [(ngModel)]="model.ctc_name" name="contact-name" required #contactName="ngModel">
      <div class="error text-danger" [hidden]="contactName.valid || contactName.untouched || (contactName.pristine && vacancyFormDir.submitted)">
          Contact person name is required
        </div>
    </div>
    <div class="form-group">
      <label for="contact-phone">Phone number</label>
      <input type="text" class="form-control" id="contact-phone" [(ngModel)]="model.ctc_phone" name="contact-phone" required #contactPhone="ngModel">
      <div class="error text-danger" [hidden]="contactPhone.valid || contactPhone.untouched || (contactPhone.pristine && vacancyFormDir.submitted)">
        Contact phone number is required
      </div>
    </div>
    <div class="form-group">
      <label for="contact-email">Email</label>
      <input type="email" class="form-control" id="contact-email" [(ngModel)]="model.ctc_email" name="contact-email" required [email]="true" #contactEmail="ngModel">
      <div class="error text-danger" [hidden]="contactEmail.valid || contactEmail.untouched || (contactEmail.pristine && vacancyFormDir.submitted)">
        Email is required and format should be <strong>username@email.com</strong>
      </div>
    </div>
    <button type="submit" class="btn submit-btn" [ngClass]="{'btn-success': vacancyFormDir.valid && !vacancyFormDir.submitted}" [disabled]="!vacancyFormDir.valid && !vacancyFormDir.submitted">Submit</button>
  </form>

  <ng-template #successModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Your request has being submitted</h4>
    </div>
    <div class="modal-body">
      <p>{{successMessage}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="c()">OK</button>
    </div>
  </ng-template>

  <ng-template #errorModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Your request failed to send</h4>
    </div>
    <div class="modal-body">
      <p>{{errorMessage}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="c()">OK</button>
    </div>
  </ng-template>

  <!-- for testing only -->
<!--   
  <button (click)="openSuccessModal()">Test success</button>
  <button (click)="openErrorModal()">Test fail</button>
  -->
</div>