.header {
    margin-bottom: 3em;
}

.submit-btn {
    margin-top: 1em;
    margin-bottom: 2em;
}

.salary_indicator {
    margin-left: 1.2em;
    margin-right: 1.2em;
}

.error {
    padding: 0.8em 0.8em 0 0.8em;
}