<div class="jumbotron cover-header">
  <div class="container">
    <h2>Talent search</h2>
  </div>
  
</div>

<div class="container loading-container" *ngIf="vacancies == undefined">
  <i class="fa fa-refresh fa-spin loading"></i>
</div>

<!-- when there's no record found, -->
<div class="container empty-state-content" *ngIf="vacancies != undefined && vacancies.length == 0">
  <img src="../../assets/magnifying-glass-search-users-user-search-people-icon.png" class="magnifying-glass mx-auto d-block"/>
  <div class="content">
    Looking for professional personel to help you to grow your business? You have got our back to find the best talent <br />in town.
  </div>

  <div class="request-btn-wrapper"><a class="btn btn-primary request-btn" routerLink="/vacancy">Make a request</a></div>
</div>


<!-- otherwise, record found -->
<div class="container" *ngIf="vacancies != undefined && vacancies.length > 0">
  <div class="request-btn-wrapper"><a class="btn btn-primary request-btn" routerLink="/vacancy">Make a request</a></div>

  <table class="table table-responsive table-hover">
    <thead>
      <tr>
        <th >Position</th>
        <th>Location</th>
        <th>Contact Name</th>
        <th width="300em">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vacancy of vacancies">
        <td>{{vacancy.position}}</td>
        <td>{{vacancy.location}}</td>
        <td>{{vacancy.ctc_name}}</td>
        <td>
          <a class="btn btn-primary disabled" href="#">Result</a>
          <a class="btn btn-outline-primary" [routerLink]="['vacancy', vacancy.id]">Edit</a>
          <a class="btn btn-outline-danger" (click)="removeVacancy(vacancy)" href="#">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #deleteModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">{{deleting_item_label}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to remove it?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="c('delete')">Delete</button>
    </div>
  </ng-template>
</div>
