<div class="jumbotron cover-header">
  <div class="container">
    <h2>Talent search</h2>
  </div>
  
</div>

<!-- when there's no record found, -->
<div class="container">
  Looking for professional personel to help you to grow your business? We have your back to help the best talent in town.
  <div><a class="btn btn-info request-btn">Make a request</a></div>
</div>


<!-- otherwise, record found -->
<div class="container">
  <ul>
      <li>
        <div>Position</div>
        <div>Location</div>
        <div>
            <button>Edit</button>
            <button>Delete</button>
        </div>
      </li>
  </ul>
</div>
